{% extends "base.html" %}

{% block title %}profile{% endblock %}

{% block body %}
<div class="container profile-container">
    <h2 class="text-center">Your Profile</h2>

    <div class="profile-card">
        <p><strong>Full Name:</strong> {{ user.full_name }}</p>
        <p><strong>Username:</strong> {{ user.username }}</p>

        <p><strong>DOB:</strong> {{ user.dob }}</p>
        <p><strong>Qualification:</strong> {{ user.qualification }}</p>
        
        <a href="{{ url_for('edit_profile') }}" class="btn btn-primary mt-3">Edit Your Profile</a>
        <a href="{{ url_for('change_password') }}"  class="btn btn-primary mt-3">change password</a>

        <a href="{{ url_for('user_dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>

    </div>
</div>
{% endblock %}
